# Virtual environments
env/
venv/

# Python bytecode and cache
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
**/*.pyo
*.pyd
**/*.pyd

# Logs and temporary files
*.log
*.tmp
logs/
stock_analysis/logs/

# DBT artifacts
target/
stock_analysis/target/
dbt_packages/

# Raw data (optional if you're regenerating from source)
data/raw/

# Browser install artifacts
google-chrome-stable_current_amd64.deb
